
 @import "bootstrap-sprockets";
 @import "bootswatch/paper/variables";
 @import "bootstrap";
 @import "bootswatch/paper/bootswatch";

 body {
  background-color: #f9f9f9;
}

 a:hover {
  text-decoration: none;
  color: #0c84e4;
 }
a {
 color: white;
}


#input {
 margin: 0 auto;
 width: 70%;
}
h1 {
 text-align: center;
}
.footer {
 height: 250px;
 width: 100%;
 background-color: #222;
 color: #fff;
 padding-top: 100px;
}
#home-jumb {
 height: 500px;
}
#footer-links {
list-style-type: none;

}
.social {
 margin-top: 20px;
 position: relative;
 top: 5px;
}
#conatiner-custom {
 background-color: #0c84e4;
 color: white;
 width: 100%;
 height: 300px; margin-top: 20px;
  position: relative;
  top: 5px;
  font-size: 15px;
}

.typed-cursor
{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
